.container {
    display: flex;
    width: 80%;
    height: 320px;
    column-gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.space {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

.pesquisaField {
    background-color: #F2F2F2;
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 50%;
    align-content: space-between;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 150px;
    margin-top: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.buttonPesquisar {
    background-color: #0D9276;
    font-size: 20px;
    border: none;
}

.buttonPesquisar:hover{
    background-color: #1ec7a2;
} 

.buttonForm {
    background-color: #0D9276;
    font-size: 20px;
    border: none;
    width: 200px;
    height: 50px;
}

.buttonForm:hover {
    background-color: #1ec7a2;
}