.container {
  display: flex;
  width: 400px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  margin: 0 auto;
  gap: 100px;
  border-radius: 25px;
}



.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
}

.buscaFiltrada {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


.tabela {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
}

.containerTabela {
  display: flex;
  justify-content: center;
  align-items: center;
}


.tabela thead {
  background-color: #0D9276;
  color: white;
}

.tabela th,
.tabela td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  text-align: left;
  position: relative;
  text-align: left;
}



.tabela th button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: 5px;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
}

.tabela th svg {
  font-size: 14px;
  color: #ffffff;
}

.tabela th button:hover svg {
  color: #ffffff;
}



.tabela tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabela tbody tr:hover {
  background-color: #e6f2ff;
  cursor: pointer;
}

.noResults {
  margin-top: 20px;
  padding: 15px;
  background-color: #ffeeba;
  color: #856404;
  border: 1px solid #ffeeba;
  border-radius: 4px;
  font-weight: 600;
  text-align: center;
  max-width: 300px;
}