.logo {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

.imagem {
    width: 120px;
    height: auto;
}

.container {
    color: #ffffff;
    width: 300px;
    margin-left: 20px;
}

.container h4 {
    color: #BBE2EC;
}