.tela {
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2;
  height: 100%;
  width: 100%;
}

.centralizador{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.container{
  display: flex;
  width: 400px;
  background-color: #ffffff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  margin: 0 auto;
  gap: 100px;
  border-radius: 25px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titulo{
  font-size: 36px;
}

