.input {
  width: 300px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.5);
}

.inputAnnotation {
  width: 700px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  border: solid 1px black;
  box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.5);
}

.inputPesquisa {
  width: 250%;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border: none;
}

.input:focus {
  outline: none;
  border: 2px solid #0D9276;
}

.content {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
}

.labelLogin {
  margin-bottom: -5px;
}

.asteristico {
  color: red;
}